@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&family=Ultra&display=swap");

.wrapper, #app{
     display: flex;
     flex-direction: column;
     flex-basis: 0;
     /* flex-wrap: wrap; */
     font-family:'Special Elite', cursive;
     font-size: medium;
     background-image: url("../images/great-lakes.jpg");
}

#nav{
    text-align: center;
    color:black;
    flex-grow: 1;
    background-color:darkorange;
    grid-area: nav;
}
.main{
    text-align: center;
    flex-grow:2;
    /* background-color: orange; */
   /*  display: block;*/
    /* width:1415px; */
    min-height:500px; 
    
}
  
footer{
    background-color:darkorange;
    flex-grow: 1;
    text-align: center;
}

a{
    color: darkblue;
    text-decoration: none;
}
  
.btn{
    transition-duration: 0.4s;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
}

.btn:hover{
    background-color: cornflowerblue; 
    color: white;
}

.text-center{
    color:darkorange;
}

.registration-button{
    color:darkorange;
}