@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&family=Ultra&display=swap");

.text-center{
    align-content: flex-end;
    justify-content: center;
    font-family: 'Special Elite', cursive;
}

.main-nav{
    font-family: 'Special Elite', cursive;
    
}

a.router-link-active{
    text-decoration: none;
}

a{
    text-decoration: none;
}

@keyframes word{
    0%{background-color:aquamarine;}
    50%{background-color:rgb(64, 156, 126)}
    100%{background-color: rgb(13, 83, 60);}
    
  }

.container{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    border-radius: 10px;
    animation-name: word;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.btn{
    transition-duration: 0.4s;
    border: 2px solid #4CAF50;
    border-radius: 4px;
}

.btn:hover{
    background-color: #4CAF50; 
    color: white;
}

