@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&family=Ultra&display=swap");

.wrapper, #app{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
     "nav nav nav nav"
     "sidebar main main main"
     "sidebar content1 content2 content3"
     "sidebar footer footer footer";
     grid-gap:0.2rem;
     font-family:'Special Elite', cursive;
     font-size: medium;
  }
  #nav{
    background-color:cornflowerblue;
   grid-area: nav;
  }
  .main{
    background-color: grey;
    display: block;
    grid-area: main;
    width:1415px;
    height:500px;
  }
  #sidebar{
    background-color:grey;
    grid-area:sidebar;
  }
  
  #content1{
  background-color:cornflowerblue;
  grid-area: content1;
  }
  #content2{
    background-color: white;
    grid-area: content2;
  }
  #content3{
    background-color:grey ;
    grid-area: content3;
  }
  footer{
    background-color: grey;
    grid-area: footer;
  }
  
  