@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&family=Ultra&display=swap");

.text-center{
    align-content: flex-end;
    justify-content: center;
    font-family: 'Special Elite', cursive;
}